.carousel_slide_center_img {
    background-image: url("../img/slider/slide1.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.carousel_slide_center_img2 {
    background-image: url("../img/slider/slide2.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
}